<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
    </span>

    <% if logged_in? %>
      <% unless current_user.role == "entrepreneur" %>
         <% if !micropost.matching_users.include?(current_user) %>
            <%= link_to matchings_path(micropost_id: micropost.id, user_id2: micropost.user_id), method: :post do %>
              <%= image_tag 'icons/star-empty.png', :size =>'20x20', class: 'topic-index-icon' %>
            <% end %>

         <% else %>
            <%= link_to matchings_destroy_path(micropost_id: micropost.id, user_id2: micropost.user_id), method: :delete do %>
              <%= image_tag 'icons/star-yellow.png', :size =>'20x20', class: 'topic-index-icon' %>
            <% end %>
         <% end %>
     <% end %>
    <% end %>


</li>
